{
  "presets": [
    "babel-preset-react",
    ["babel-preset-es2015", { "modules": false }],
    "babel-preset-stage-2"
  ],
  "plugins": ["babel-plugin-transform-runtime"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "plugins": [
        "babel-plugin-transform-react-remove-prop-types",
        "babel-plugin-transform-react-constant-elements"
      ]
    }
  }
}
