{
  "presets": ["babel-preset-react", ["babel-preset-latest", { "modules": false }]],
  "plugins": ["babel-plugin-transform-runtime"],
  "env": {
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": [
        "babel-plugin-transform-react-remove-prop-types",
        "babel-plugin-transform-react-constant-elements"
      ]
    },
    "test": {
      "plugins": [
        ["babel-plugin-transform-es2015-modules-commonjs", { "loose": true }]
      ]
    }
  }
}
