{
  "presets": ["babel-preset-react", "babel-preset-es2015"],
  "plugins": ["babel-plugin-transform-runtime"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "plugins": ["babel-plugin-transform-react-constant-elements"]
    }
  }
}
