language: node_js
cache:
  directories:
    - $HOME/.npm
    - $HOME/.yarn-cache
    - node_modules
node_js:
  - 6.0
before_install:
  - time npm i -g yarn --cache-min 999999999
install:
  - time yarn
script:
  - time yarn run lint && yarn test && yarn run e2e
