    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About kyt</h2>
              <br/>
                <p>Every sizable JavaScript web app needs a common foundation: a setup to build, run, test and lint your code. kyt is a toolkit that encapsulates and manages the configuration for web apps.</p>
                <p>kyt is licenced under the Apache 2.0 licence.</p>
                <p>Read more in our blog post<a href="http://open.blogs.nytimes.com/2016/09/13/introducing-kyt-our-web-app-configuration-toolkit/">blog post</a>.</p>
                <br/>
              </div>
        </div>
    </section>
